h1{
    text-align: center;
}
#char{
    display: block;
    background-color: hsl(231, 26%, 20%);
    border: 1px solid hsl(231, 26%, 20%);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    float: right;    
}
#ceres{
    color: red;
}
#caraxes{
    color: blue;
}