.page {
    background-color: hsla(231, 25%, 20%, 0.9);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    overflow: hidden;
}

.intro-text p {
    padding: 20px;
    width: 65%;
    float: left;
}

.description p {
    padding-left: 20px;
    width: 65%;
    float: left;
}

.info-box {
    background-color: hsla(231, 25%, 30%, 0.90);
    width: 30%;
    float: right;
    padding: 20px;
    margin: 10px;
}

.info-box img {
    width: 100%;
}

.info-box h3 {
    text-align: center;
}

.info-box h4 {
    text-align: center;
}

.info-box ul {
    list-style: none;
}